:root {
    /* Kleuren */
    --ns-blauw: #003082;
    --ns-geel: #FFC917;

    --text-licht: #FFFFFF;
    --text-grijs: #a7a7a7;
    --text-donker: #2c2828;

    --border-kleur: #e5e7eb;
    --achtergond-navigatie: #ffffff;

    /* Randen */
    --border: 1.5px solid var(--border-kleur);
}

/* Main styling */
body {
    margin: 0;
    font-family: system-ui, Arial, sans-serif; 
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header */
header {
    background: var(--ns-blauw);
    padding: 1rem;
}

header ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0;
}

header img {
    width: 50px;
    height: 50px;
}

header h1 {
    color: var(--text-licht);
    margin: 0;
    font-size: clamp(1.80rem, calc(1.714rem + 0.429vw), 2.25rem); /* gemaakt met font clamp generator */
}

/* Navigatie */
.achtergrond-navigatie {
    border-bottom: var(--border);
    position: sticky;
    background-color: var(--achtergond-navigatie);
    top: 0;
    z-index: 1000; 
}

ul.navigatie {
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: 70%;
    margin: 0 auto;
}

ul.navigatie li a {
    display: flex;
    align-items: center;
    gap: 6px;
}

ul .number {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--text-grijs);
    border: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

ul .hide-text {
    text-indent: -9999px;
    color: var(--text-grijs);
    font-weight: 500;
}

/* Form Styling */

form, fieldset.extravragen2, fieldset.extravragen3, fieldset.extravragen4 {
    border: var(--border);
    border-radius: 30px;
    padding: 1rem;
    margin: 1rem;
}

fieldset.outer-section-fieldset, fieldset.inner-section-fieldset, fieldset.in-form {
    border: none;
    padding: 0;
}

fieldset.outer-section-fieldset legend {
    color: var(--ns-blauw);
    font-weight: 600; 
    font-size: clamp(1.10rem, calc(1.048rem + 0.262vw), 1.38rem);  
}

fieldset.inner-section-fieldset {
    margin-top: 1em;
}

fieldset.inner-section-fieldset, fieldset.extravragen4 {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

fieldset.inner-section-fieldset legend{
    color: grey;
    font-weight: 300; 
    font-size: clamp(0.88rem, calc(0.833rem + 0.208vw), 1.09rem);  
    padding-bottom: 1rem;
}

fieldset.extravragen2 legend, fieldset.extravragen3 legend, fieldset.extravragen4 legend {
    padding-bottom: 0;
}

fieldset.inner-section-fieldset label, fieldset.in-form legend {
    font-size: clamp(0.88rem, calc(0.833rem + 0.208vw), 1.09rem); /* gemaakt met font clamp generator */
    color: var(--text-donker);
    font-weight: 400;
}

fieldset.inner-section-fieldset input {
    border: var(--border);
    border-radius: 5px;
    padding: 1rem;
}

button {
    /* display: none; */
    padding: 0.75rem 1rem;
    background: var(--ns-blauw);
    border: none;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    width: fit-content;
}

/* FUNCTIES STAPPEN */

.extravragen2 {
    display: none;
}

form:has(#partner_overledene_ja:checked) .extravragen2 {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: 1 / -1;
} 

/* STAP 3 */

.extravragen3 {
    display: none;
}

form:has(#kinderen_overledene_ja:checked) .extravragen3 {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: 1 / -1;
} 

/* STAP 4 */

.extravragen4 {
    display: none;
}

form:has(#testament_overledene_ja:checked) .extravragen4 {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: 1 / -1;
}
/* responsive */
@media (width > 1000px) {
    header {
        padding: 1.5rem;
    }

    ul.header {
        width: 70%;
        margin: 0 auto;
    }

    form {
        width: 70%;
        margin: 1rem auto;
    }

    ul .hide-text {
    text-indent: 0;
}
}

@media (width > 1400px) {
    header {
        padding: 2rem;
    }
}