/* knoppen standaard verbergen */
#volgende-knop-1,
#volgende-knop-2,
#volgende-knop-3 {
    display: none;
}

/* eerste blok */
.tweede-blok-vragen,
.derde-blok-vragen {
    display: none;
}

form:has(#voornaam_overledene:valid)
    :has(#achternaam_overledene:valid)
    :has(#bsn_overledene:valid)
    :has(#geboortedatum_overledene:valid) #volgende-knop-1, #vorige-knop-1 {
    display: inline-block;
}

#stap2:target {
    display: block;
}

form:has(#stap2:target) .eerste-blok-vragen {
    display: none;
}

/* tweede blok */
.vraag2,
.vraag3,
.vraag4 {
    display: none;
}

.vraag1:has(input[value="ja"]:checked) + .vraag2 {
    display: block;
}

.vraag2:has(input[value="ja"]:checked) + .vraag3 {
    display: block;
}

.vraag3:has(input[value="ja"]:checked) + .vraag4 {
    display: block;
}

form:has(.vraag1 input[value="ja"]:checked)
    :has(.vraag2 input[value="ja"]:checked)
    :has(.vraag3 input[value="ja"]:checked)
    :has(#datum-huwelijk_overledene:valid) #volgende-knop-2 {
    display: inline-block;
}

#stap3:target {
    display: block;
}

form:has(#stap3:target) .eerste-blok-vragen, .tweede-blok-vragen {
    display: none;
}