:root {
    --ns-blauw: #003082;
    --ns-geel: #FFC917;

    --text-wit: #FFFFFF;
    --text-zwart: #000000;
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background: var(--ns-blauw);
    padding: 1rem;
    /* margin: 0;
    padding: 0; */
}


@media (width > 1000px) {
    header {
        padding: 1.5rem;
    }

    main {
    width: 80%;
    margin: 0 auto;

    }

}

@media (width > 1400px) {
    header {
        padding: 2rem;
    }

    main {
        width: 80%;
        margin: 0 auto;
    }


}